<nz-spin [nzSpinning]="loading" [nzSize]="'large'"></nz-spin>
<nz-layout *ngIf="resume" class="resume content">
  <nz-content>
    <article nz-typography>
      <h1 nz-typography>{{resume.name}}</h1>
      <h4 nz-typography>{{resume.position}}</h4>
      <p nz-typography>
        {{resume.introduction}}
      </p>
    </article>
  </nz-content>
  <nz-content>
    <nz-layout class="resume-main-layout">
      <nz-sider nzWidth="30%">
        <app-contact [contact]="resume.contact"></app-contact>
        <app-skills [skillSet]="resume.skillSet"></app-skills>
      </nz-sider>
      <nz-content class="right-content">
        <nz-layout>
          <ul nz-menu nzMode="inline" class="sider-menu">
            <app-work-history [workHistory]="resume.workHistory"></app-work-history>
            <app-education [education]="resume.education"></app-education>
            <app-projects [projects]="resume.projects"></app-projects>
            <app-certifications [certifications]="resume.certifications"></app-certifications>
          </ul>
        </nz-layout>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
