p {
  margin: 0 20px;
  white-space: break-spaces;
}

.content {
  padding: 24px 24px;
}

ul + ul {
  margin-top: 10px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff !important;
}

.right-content {
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
}

.resume-main-layout {
  padding-top: 20px;
  padding-bottom: 20px;
}
