.work-title h3 {
  cursor: pointer;
}

.open-modal-icon {
  margin-left: 8px;
}

.work-detail {
  margin-top: 10px;
}

.work-info {
  font-weight: 500;
}

.work {
  margin-left: 20px;
}